<form #frm="ngForm" (ngSubmit)="addUsersToList(frm)" >

   <div>
        <label for="name" >
            Name:-
        </label>
        <input id="name" type="text" name="name" ngModel  />
   </div> 

   <div>
    <label for="phone" >
        Phone:-
    </label>
    <input id="phone" type="text" name="phone" ngModel  />
</div> 

<div>
    <label for="email" >
        Email:-
    </label>
    <input id="email" type="text" name="email" ngModel  />
</div> 

<button type="submit" [disabled]="frm.invalid" >
    Submit
</button>

</form>

{{frm.value.name}}



<ul>
    <li *ngFor="let user of usersList" >
        Name:-{{user.name}}
        ---
        Phone:-{{user.phone}}
        ---
        Email:-{{user.email}}
        ---
        <button (click)="deleteUserFromList(user.phone)" > <i class="fa fa-trash" aria-hidden="true"></i>  </button>
    </li>
</ul>